.contact {
  padding: 80px 20px;
}

.contact_title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.34em;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 40px;
}

.text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 77px;
  line-height: 2.8em;
}

@media screen and (max-width: 375px) {
  .contact_title {
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    padding: 124px 94px;
  }

  .contact_title {
    font-size: 43px;
    letter-spacing: 0.33em;
    padding-bottom: 54px;
  }

  .text {
    font-size: 13px;
    letter-spacing: 0.17em;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .contact {
    padding: 164px 240px;
  }

  .contact_title {
    font-size: 80px;
    letter-spacing: 0.21em;
    padding-bottom: 98px;
  }

  .text {
    font-size: 19px;
    letter-spacing: 0.17em;
    padding-bottom: 98px;
  }
}
