.hero {
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
}

.title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.82em;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 0 20px 0px 20px;
}

.bg {
  background-image: image-set(
    url(../../images/woman-mob@1x.png) 1x,
    url(../../images/woman-mob@2x.png) 2x
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 503px;
}

.button_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 0 18px 0 18px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.31em;
  letter-spacing: 0.19em;
  text-transform: uppercase;
}

.hero_button_link {
  position: relative;
  white-space: nowrap;
  display: flex;
  gap: 12px;
  z-index: 5;
  align-items: center;
  max-width: 416px;
  justify-content: flex-start;
  align-self: flex-start;
}

.arrow {
  fill: var(--dirty-brown);
  width: 20px;
  height: 20px;
}

.hero_button_link:hover::after,
.hero_button_link:focus::after {
  background-color: var(--dirty-brown);
}

.hero_button {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.22em;
  text-transform: uppercase;
  text-align: left;
  color: var(--black);
  z-index: 5;
  position: relative;
  top: 0;
  left: 3%;
}

.hero_button_link::after {
  content: '';
  position: absolute;
  width: 169px;
  height: 64px;
  background-color: var(--light-brown);
  border-radius: 16px;
  box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s ease-in-out;
  z-index: -1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .bg {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-image: image-set(
      url(../../images/woman-tab@1x.png) 1x,
      url(../../images/woman-tab@2x.png) 2x
    );
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-color: var(--light-brown);
    min-height: 715px;
  }

  .bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    background: var(--dirty-brown);
    filter: blur(1px);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 91px;
    margin-top: 60px;
    max-width: 50%;
  }

  .title {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    text-align: left;
    letter-spacing: 0.12em;
  }

  .button_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 61px;
    align-items: flex-end;
  }

  .hero_button {
    font-size: 16px;
    letter-spacing: 0.25em;
    left: 20%;
  }

  .hero_button_link::after {
    width: 204px;
    height: 82px;
    left: unset;
  }
}

@media screen and (min-width: 1280px) {
  .bg {
    min-height: 950px;
    background-image: image-set(
      url(../../images/woman-desk@1x.png) 1x,
      url(../../images/woman-desk@2x.png) 2x
    );
  }

  .title {
    font-size: 65px;
    line-height: 1.62em;
    letter-spacing: 0.12em;
    padding: 0 0 0 60px;
  }

  .container {
    row-gap: 96px;
  }

  .button_wrap {
    row-gap: 68px;
    padding: 0 32px;
  }

  .text {
    font-size: 20px;
    line-height: 2em;
    letter-spacing: 0.2em;
  }

  .hero_button {
    font-size: 20px;
    letter-spacing: 0.2em;
    left: 25%;
  }

  .hero_button_link::after {
    width: 262px;
  }
}
