/*
	Installed from https://reactbits.dev/default/
*/

.scroll-list-container {
  position: relative;
}

.scroll-list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.scroll-list::-webkit-scrollbar {
  width: 8px;
}

.scroll-list::-webkit-scrollbar-track {
  background: #060606;
}

.scroll-list::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 4px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item-text {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .scroll_list {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .scroll_list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-bottom: 150px;
  }
}
