.reviews_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review_item {
  padding: 20px 10px;
  border-radius: 16px;
  background: #e4e5e6;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.reviews_text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 2em;
  letter-spacing: 0.05em;
}

.review_item p:last-child {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .reviews_list {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 80px;
  }

  .review_item {
    max-width: 320px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews_list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-bottom: 150px;
  }

  .review_item {
    max-width: 600px;
  }
}
