.sale {
  padding: 80px 20px;
}

.title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.57em;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 90px;
}

.slider_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.slider {
  min-width: 230px;
  min-height: 180px;
  overflow: hidden;
}

.product_list {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.product_item {
  cursor: pointer;
  padding: 140px 0px 16px 13px;
  border-radius: 36px;
  background: linear-gradient(
    135deg,
    rgba(231, 223, 217, 0.74) 48.82%,
    rgba(154, 133, 116, 0.74) 85.5%
  );
  position: relative;
  /* width: 240px; */
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 0 0 100%;
}

.img_wrapper {
  position: absolute;
  top: -16px;
  left: 80%;
  transform: translateX(-60%);
  width: 90%;
  z-index: 10;
}

.name {
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 5px;
}

.price_wrapper {
  & p {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5em;
    letter-spacing: 0.75em;
    text-transform: uppercase;
  }
}

.original_price {
  & span {
    text-decoration: line-through;
  }
}

.button {
  cursor: pointer;
  border: 1px solid var(--black);
  border-radius: 50%;
  width: 23px;
  height: 23px;
  padding: 5px;
  font-size: 24px;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
}

.button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
